$Golden: #D2B78A;
$White: #ffffff;
$LightBrown: #62584A;
$DarkBrown: #49453B;
$Black: #000;
$Linear: #1E1E1E;



@font-face {
    $font-family: 'mantinia';
    src: url('../fonts/MantiniaRegular/Mantinia-Regular.otf'); 
  }
  
//   @font-face {
//     font-family: "MiFuenteLocal";
//     src: url("/ruta/a/mi/fuente/local/MiFuenteLocal.ttf");
//   }

// @import url(../fonts/MantiniaRegular/Mantinia-Regular.otf);